<div class="container main">
    <div class="row menu-bar">
      <div class="col-md-2 col-lg-2 logo">
          <span>DevOps - MC</span>
      </div>
      <div class="col-lg-4 offset-lg-6">
          <div class="row menu-bar-left">
            <div class="col-lg-3 menu-options">
              <span>Home</span>
            </div>
            <div class="col-lg-3 menu-options">
              <span>About</span>
            </div>
            <div class="col-lg-6 menu-options">
              <span>d.yaswanth.chandra</span>
            </div>
          </div>
      </div>
    </div>
    <div class="row green-ribbon">
      <div class="col-lg-6 devops-logo">
          <img class="devops-main-logo" src="assets/images/devops.png" alt="image">
      </div>
      <div class="col-lg-6 content"> 
          <span class="main-heading">DevOps Metrics Calculator</span><br>
          <span class="sub-heading">A Calculator that Never Settle</span><br><br><br>
          <span class="getstarted"><a (click)="navigatetocalc()">Click here to get started</a></span>
      </div>
    </div>
    <div class="row calc-tiles">
  
    </div>
    <div class="row about-block">
      <div class="col-lg-12">
          <span class="about-logo">About</span><br>
          <hr>
          <div class="about-content-1">
              DevOps is the blending of the terms development and operations, meant to represent a collaborative or shared approach to the tasks performed by a company's application development and IT operations teams. The term DevOps is used in several ways. In its most broad meaning, DevOps is an operational philosophy that promotes better communication between these teams -- and others. In its most narrow interpretation, DevOps describes the adoption of automation and programmable software development and infrastructure deployment and maintenance. The term may also label a culture that strategically looks at the entire software delivery chain, overseeing shared services and promoting the use of new development tools and best practices.
          </div>
      </div>
    </div>
    <div class="row about-tiles">
      <div class="col-lg-3 about-tile">
        <div class="Categories Categories-0">Speed to Market</div>
        <div class="about-content">
            DevOps is the blending of the terms development and operations, meant to represent a collaborative or shared approach to the tasks performed by a company's application development and IT operations teams. The term DevOps is used in several ways. In its most broad meaning, 
        </div>
      </div>
      <div class="col-lg-3 about-tile">
        <div class="Categories Categories-1">Cost</div>
        <div class="about-content">
            DevOps is the blending of the terms development and operations, meant to represent a collaborative or shared approach to the tasks performed by a company's application development and IT operations teams. The term DevOps is used in several ways. In its most broad meaning, 
        </div>
      </div>
      <div class="col-lg-3 about-tile">
        <div class="Categories Categories-2">Quality</div>
        <div class="about-content">
            DevOps is the blending of the terms development and operations, meant to represent a collaborative or shared approach to the tasks performed by a company's application development and IT operations teams. The term DevOps is used in several ways. In its most broad meaning, 
        </div>
      </div>
      <div class="col-lg-3 about-tile">
        <div class="Categories Categories-3">Change Rate</div>
        <div class="about-content">
            DevOps is the blending of the terms development and operations, meant to represent a collaborative or shared approach to the tasks performed by a company's application development and IT operations teams. The term DevOps is used in several ways. In its most broad meaning, 
        </div>
      </div>
    </div>
  </div>