<div class="container">
  <div class="row menu-bar">
    <div class="col-md-2 col-lg-2 logo">
      <span>DevOps - MC</span>
    </div>
    <div class="col-lg-4 offset-lg-6">
      <div class="row menu-bar-left">
        <div class="col-lg-3 menu-options">
          <span><a class="about-button" href="#">Home</a></span>
        </div>
        <div class="col-lg-3 menu-options">
          <span><a class="about-button" href="#About">About</a></span>
        </div>
        <div class="col-lg-6 menu-options">
          <span>d.yaswanth.chandra</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row green-ribbon">
    <div class="col-lg-6 devops-logo">
      <img class="devops-main-logo" src="assets/images/devops.png" alt="image">
    </div>
    <div class="col-lg-6 content">
      <span class="main-heading">DevOps Metrics Calculator</span><br>
      <span class="sub-heading">A Calculator that Never Settle</span><br><br><br>
      <span><button type="button" class="getstarted" data-toggle="modal" data-target="#myModal">Click here to get
          started</button></span>
    </div>
  </div>
  <div class="row about-block" id="calc">
    <div class="col-lg-12">
      <span class="about-logo">My Calculations</span><br>
    </div>
  </div>
  <hr>
  <div class="mycalculations">
    <div class="row mycalculations-none">
      <span>You don't have any Submitted Calculations</span>
    </div>
  </div>
  <!-- (click)="navigatetocalc()" -->
  <div class="row about-block" id="About">
    <div class="col-lg-12">
      <span class="about-logo">About</span><br>
    </div>
  </div>
  <hr>

  <div class="row dashboard-about-tile">

    <div class="col-lg-6 dashboard-about-tile-left">
      <div class="tile-left">
        <img class="dasboard-logo" src="assets/images/gears.png" alt="image"><br>
        <div class="dashboard-about-content-right">
          <span>Metrics Calculator</span>
          <div class="dashboard-about-content-1">
            <span>A Calculator that compares the hours and cost those were <br>observed before and after implementing
              the
              Devops</span>
          </div>
        </div>
      </div>
      <div class="tile-left">
        <img class="dasboard-logo" src="assets/images/cost.png" alt="image">
        <div class="dashboard-about-content-right">
          <span>Cost</span>
          <div class="dashboard-about-content-1">
            <span>A Calculator that compares the hours and cost those were <br>observed before and after implementing
              the
              Devops</span>
          </div>
        </div>
      </div>
      <div class="tile-left">
        <img class="dasboard-logo" src="assets/images/changerate.png" alt="image">
        <div class="dashboard-about-content-right">
          <span>Change Rate</span>
          <div class="dashboard-about-content-1">
            <span>A Calculator that compares the hours and cost those were <br>observed before and after implementing
              the
              Devops</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 dashboard-about-tile-right">
      <div class="tile-right">
        <img class="dasboard-logo" src="assets/images/speedtomarket.png" alt="image">
        <div class="dashboard-about-content-left">
          <span>Speed To Market</span><br>
          <div class="dashboard-about-content-1">
            <span>A Calculator that compares the hours and cost those were <br>observed before and after implementing
              the
              Devops</span>
          </div>
        </div>
      </div>
      <div class="tile-right">
        <img class="dasboard-logo" src="assets/images/quality.png" alt="image">
        <div class="dashboard-about-content-left">
          <span>Quality</span><br>
          <div class="dashboard-about-content-1">
            <span>A Calculator that compares the hours and cost those were <br>observed before and after implementing
              the
              Devops</span>
          </div>
        </div>
      </div>
    </div>
    <div clas="row">
      <div class="col-lg-4 offset-lg-4">

      </div>
    </div>
    <hr>
  </div>

  <div class="footer">
    <p>Footer</p>
  </div>

</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Project Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div>
        <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
          <div class="row popup">
            <div class="col-lg-6 offset-lg-2"><span class="popup-text">Project Name:</span></div>
          </div>
          <div class="row popup">
            <div class="col-lg-7 offset-lg-2"><input class="popup-textbox" type="text" formControlName="projectname"
                placeholder="Project Name"><br></div>
          </div>
          <div class="row popup">
            <div class="col-lg-6 offset-lg-2"><span class="popup-text">Client Name:</span></div>
          </div>
          <div class="row popup">
            <div class="col-lg-7 offset-lg-2"><input class="popup-textbox" type="text" formControlName="clientname"
                placeholder="Client Name"><br></div>
          </div>
          <div class="row popup">
            <div class="col-lg-6 offset-lg-2"><span class="popup-text">Industry Group:</span></div>
          </div>
          <div class="row popup">
            <div class="col-lg-7 offset-lg-2"><input class="popup-textbox" type="text" formControlName="industrygroup"
                placeholder="Industry Group"><br></div>
          </div>
          <div class="row popup">
            <div class="col-lg-6 offset-lg-2"><span class="popup-text">Work Location:</span></div>
          </div>
          <div class="row popup">
            <div class="col-lg-7 offset-lg-2"><input class="popup-textbox" type="text" formControlName="worklocation"
                placeholder="Work Location"><br></div>
          </div>
          <div class="modal-footer">
          <span><button type="submit" class="getstarted"  value="Submit">Submit</button></span>
          <button type="button" class="getstarted" id="close-modal" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>