html {
    scroll-behavior: smooth;
  }
  input{
      border:0;
      text-align: center;
      border-left: 1px dotted black;
  }
  .main{
      background-color: #ebeef4;
  }
  .about-button{
      cursor: pointer;
      color: black;
      text-decoration: none;
  }
.menu-bar{
    top:0%;
    height:50px;
    border-bottom: 1px dotted black;
    position: relative;
}
.menu-bar .logo{
    text-align:center;
    vertical-align: center;
    padding-top:10px;
    color: #112ca3;
    font-weight: 700;
    font-size: 24px;
}
.dasboard-logo{
    height:150px;
    width:150px;
}
.menu-bar .menu-options{
    padding-top:15px;
    display: block;
    color: black;
    text-align:center;  
    font-size:16px;
    font-weight: 500px;
}
.green-ribbon{
    height:250px;
    border-bottom: 1px dotted black;
    padding-top:25px;
    display: block;
    position: relative;
    background-color: #008a00; 
}
.devops-logo{
    display: inline-block; 
    text-align: center;
    vertical-align: center;
    display: inline-block;
}
.devops-main-logo{
    height:230px;
    width: 500px;  
    margin-top:-70px;
}
.green-ribbon .content{
    color: white;
    text-align: center;
    vertical-align: center;
    display: inline-block;
    height:200px;
}
.green-ribbon .content .main-heading{
    font-size:35px;
    font-weight: 700;
}
a{
    color: white;
    text-decoration: underline;
}
.getstarted{
    height: 35px;
    color: white;
    font-weight: 700;
    background-color: rgba(255, 140, 0, 1);
    border: solid rgba(255, 6, 28, 1) 1px;
    cursor: pointer !important;
}
.getstarted button:hover{
    height: 35px;
    color: white;
    font-weight: 700;
    background-color: rgb(255, 81, 0);
    border: solid rgba(255, 6, 28, 1) 1px;
    cursor: pointer !important;
}
.about-block{
    position: relative;
    height:30px;  
    text-align: center;
    margin-top: 25px;
}
.dashboard-about-tile{
    height:200px;
}
.dashboard-about-tile{
    text-align:center;
}
.dashboard-about-tile-right{
    text-align:left;
}
.small-border-right{
    width:100px;
    margin-top:20px;
    height: 7px;
    background-color: #008a00;
}
.small-border-left{
    width:100px;
    margin-left:435px;
    margin-top:20px;
    height: 7px;
    background-color: #008a00;
}
.dashboard-about-content-right{
    padding-top:20px;
    padding-bottom: 10px;
    font: normal normal normal 30px/1.1em 'eb garamond',serif;
    color: #2F2E2E;
}
.dashboard-about-content-left{
    padding-top:20px;
    padding-bottom: 10px;
    text-align:right;
    font: normal normal normal 30px/1.1em 'eb garamond',serif;
    color: #2F2E2E;
}
.dashboard-about-content-1{
    margin-top:20px;
    font:normal normal normal 15px/1.4em raleway,sans-serif;
    color: #000000;
}
.table-ribbon{
    height: 40px;
    border: 1px solig green;
    background-color: #008a00;
    position: absolute;
    margin-top:130px;
    z-index: 10;
}
.grid-table{
    position: relative;
    margin-top:150px;
    border: 1px solid black;
    display: box;
    padding:10px;
    box-shadow: 2px 2px 2px 2px #888888;
    background-color: white;
}
.about-logo{
    height:20px;
    font-weight:800;
    display:inline-block;
    font: normal normal normal 30px/1.1em 'eb garamond',serif;
}
.grid-data{
    text-align: center;
    border-bottom: 1px dotted black;
}
.about-tiles{
    position: relative;
}
.about-content{
    text-align: justify;
  text-justify: inter-word;
  text-indent: 100px;
}
.dashboard-logo{
    height:150px;
    width:150px;
}
.about-content-1{
    text-align: justify;
  text-justify: inter-word;
}
.about-tile{
    padding-left:5px;
    height: 250px;
    text-align: center;
}
.Categories{
    height:45px;
    color: white;
    font-weight: 600;
    padding-top:10px;
    background-color: #008a00;
    vertical-align: center;
}